In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker
plt.rcParams['figure.figsize'] = [20,15]
import seaborn as sns
sns.set()
sns.set_palette('bright')

In [2]:
df = pd.read_csv('All_CAMCAR_Latest_Cases_Deaths_Recovered_Active.csv', index_col=0)

In [3]:
df

                     Cases  Deaths  Recovered  Active
Country/Region
Dominican Republic    3614     189        208    3217
Panama                3574      95         72    3407
Cuba                   814      24        151     639
Costa Rica             626       4         67     555
Honduras               419      31          9     379
Guatemala              180       5         19     156
El Salvador            159       6         30     123
Jamaica                125       5         21      99
Trinidad and Tobago    114       8         19      87
Aruba                   93       1         39      53
French Guiana           86       0         51      35
Barbados                73       5         15      53
Cayman Islands          54       1          6      47
Sint Maarten            53       9          5      39
Bahamas                 49       8          6      35
Haiti                   41       3          0      38
St Martin               35       2         13      20
Antigua and Barbuda     23       2          3      18
Saint Lucia             15       0         11       4
Curacao                 14       1         10       3
Nicaragua                9       1          4       4

In [4]:
data = df.copy()

In [5]:
data['Mortality Rate'] = data['Deaths']/data['Cases']

In [6]:
data['Mortality Rate pct'] = data['Mortality Rate']*100

In [7]:
data

,Cases,Deaths,Recovered,Active,Mortality Rate,Mortality Rate pct
Country/Region,,,,,,
Dominican Republic,3614,189,208,3217,0.052297,5.229662
Panama,3574,95,72,3407,0.026581,2.658086
Cuba,814,24,151,639,0.029484,2.948403
Costa Rica,626,4,67,555,0.006390,0.638978
Honduras,419,31,9,379,0.073986,7.398568
Guatemala,180,5,19,156,0.027778,2.777778
El Salvador,159,6,30,123,0.037736,3.773585
Jamaica,125,5,21,99,0.040000,4.000000
Trinidad and Tobago,114,8,19,87,0.070175,7.017544
Aruba,93,1,39,53,0.010753,1.075269
French Guiana,86,0,51,35,0.000000,0.000000
Barbados,73,5,15,53,0.068493,6.849315
Cayman Islands,54,1,6,47,0.018519,1.851852
Sint Maarten,53,9,5,39,0.169811,16.981132
Bahamas,49,8,6,35,0.163265,16.326531
Haiti,41,3,0,38,0.073171,7.317073
St Martin,35,2,13,20,0.057143,5.714286
Antigua and Barbuda,23,2,3,18,0.086957,8.695652
Saint Lucia,15,0,11,4,0.000000,0.000000
Curacao,14,1,10,3,0.071429,7.142857
Nicaragua,9,1,4,4,0.111111,11.111111

In [8]:
pops = [10847910, 4314767, 11326616, 5084700, 9872459, 17847727, 6476611, 2958565, 1398577, 106675, 297083, 287304, 65565, 42777, 392483, 11374286, 38531, 97765, 183458, 163958, 6608547]

In [9]:
data['Population'] = pops
data

,Cases,Deaths,Recovered,Active,Mortality Rate,Mortality Rate pct,Population
Country/Region,,,,,,,
Dominican Republic,3614,189,208,3217,0.052297,5.229662,10847910
Panama,3574,95,72,3407,0.026581,2.658086,4314767
Cuba,814,24,151,639,0.029484,2.948403,11326616
Costa Rica,626,4,67,555,0.006390,0.638978,5084700
Honduras,419,31,9,379,0.073986,7.398568,9872459
Guatemala,180,5,19,156,0.027778,2.777778,17847727
El Salvador,159,6,30,123,0.037736,3.773585,6476611
Jamaica,125,5,21,99,0.040000,4.000000,2958565
Trinidad and Tobago,114,8,19,87,0.070175,7.017544,1398577
Aruba,93,1,39,53,0.010753,1.075269,106675
French Guiana,86,0,51,35,0.000000,0.000000,297083
Barbados,73,5,15,53,0.068493,6.849315,287304
Cayman Islands,54,1,6,47,0.018519,1.851852,65565
Sint Maarten,53,9,5,39,0.169811,16.981132,42777
Bahamas,49,8,6,35,0.163265,16.326531,392483
Haiti,41,3,0,38,0.073171,7.317073,11374286
St Martin,35,2,13,20,0.057143,5.714286,38531
Antigua and Barbuda,23,2,3,18,0.086957,8.695652,97765
Saint Lucia,15,0,11,4,0.000000,0.000000,183458
Curacao,14,1,10,3,0.071429,7.142857,163958
Nicaragua,9,1,4,4,0.111111,11.111111,6608547

In [10]:
data.columns.values

array(['Cases', 'Deaths', 'Recovered', 'Active', 'Mortality Rate',
       'Mortality Rate pct', 'Population'], dtype=object)